@model Lab10.trip

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._object.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._object.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.car.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.object1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.object1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_from)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_from)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_to)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_to)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
